<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="Votre e-mail" formControlName="email">
    @if (email?.touched && email?.errors?.["required"]) {
      <mat-error>Ce champ est requis</mat-error>
    } @else if (email?.touched && email?.errors?.["email"]) {
      <mat-error>Adresse mail invalide</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mot de passe</mat-label>
    <input matInput placeholder="Votre mot de passe" formControlName="password">
    @if (password?.touched && password?.errors?.["required"]) {
      <mat-error>Ce champ est requis</mat-error>
    }
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid">Se connecter</button>
  @if(errorMessage) {
    <span>
      <mat-error>{{ errorMessage }}</mat-error>
    </span>
  }
</form>

