<mat-tab-group animationDuration="0ms" #tabGroup>
  <mat-tab label="Présentation">
    TODO : présenter le jeu
  </mat-tab>
  <mat-tab label="Inscription" [disabled]="userConnected">
    <app-sign-up></app-sign-up>
  </mat-tab>
  <mat-tab label="Connexion" [disabled]="userConnected">
    <app-sign-in></app-sign-in>
  </mat-tab>
  <mat-tab label="Jouer !" [disabled]="userConnected">
    <app-game></app-game>
  </mat-tab>
  <mat-tab label="Classement général" [disabled]="!userConnected">
    TODO : Classement général des utilisateurs
  </mat-tab>
  <mat-tab label="Mon compte" [disabled]="!userConnected">
    TODO : Gestion du compte utilisateur
  </mat-tab>
</mat-tab-group>
